.container {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--tc-space-8) var(--tc-space-4);
  min-height: 80vh;
}

@media (max-width: var(--tc-breakpoint-md)) {
  .container {
    padding: var(--tc-space-4) var(--tc-space-2);
  }
}