.searchFilterContainer {
  margin-bottom: var(--tc-spacing-lg);
  display: flex;
  flex-wrap: wrap;
  gap: var(--tc-spacing-md);
  align-items: flex-end;
}

.searchBar {
  max-width: 450px;
  flex-grow: 1;
  position: relative;
}

.searchInput {
  width: 100%;
  padding: var(--tc-spacing-sm) var(--tc-spacing-md);
  padding-right: 2.5rem; /* Espace pour l'icône ou le bouton clear */
  font-size: var(--tc-font-size-base);
  border: var(--tc-border-width) solid var(--tc-border-color);
  border-radius: var(--tc-border-radius);
  transition: var(--tc-transition);
}

.searchInput:focus {
  box-shadow: none;
  border-color: var(--tc-primary-color);
  outline: 0;
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: var(--tc-spacing-sm);
  transform: translateY(-50%);
  color: var(--tc-text-color-secondary);
  pointer-events: none;
}

.clearButton {
  position: absolute;
  top: 50%;
  right: var(--tc-spacing-sm);
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--tc-text-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearButton:hover {
  color: var(--tc-danger-color);
}

.filterDropdown {
  min-width: 180px;
}

/* Support responsive */
@media (max-width: 768px) {
  .searchBar {
    max-width: none;
    width: 100%;
  }
  
  .filterDropdown {
    width: 100%;
  }
}