/* Reset et styles de base */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: var(--tc-font-size-base);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--tc-text-color);
  background-color: var(--tc-background-color);
}

a {
  text-decoration: none;
  color: var(--tc-primary-color);
  transition: var(--tc-transition);
}

a:hover {
  color: var(--tc-primary-dark);
}