/* Spinner.module.css - Styles pour les indicateurs de chargement */

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--tc-background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid var(--tc-secondary-color);
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.spinnerSmall {
  width: 20px;
  height: 20px;
  border-width: 3px;
  border-top-color: var(--tc-primary-color);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}