.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-top: none !important;
}

.table th,
.table td {
  padding: var(--tc-space-2);
  border-bottom: 1px solid var(--tc-table-border-color);
  text-align: left;
}

.table th {
  background-color: var(--tc-color-primary) !important;
  font-weight: var(--tc-font-weight-semibold);
  color: var(--tc-color-white);
  border-top: none !important;
}

.table th:first-child {
  border-top-left-radius: 0 !important;
}
.table th:last-child {
  border-top-right-radius: 0 !important;
}

.table tbody tr:hover {
  background-color: var(--tc-bg-hover);
}

.sortableHeader {
  cursor: pointer;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clickableRow {
  cursor: pointer;
} 